<p id="notice"><%= notice %></p>

<%= image_tag @user.avatar.url %>

<p>
  <b>User Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>First Name:</b>
  <%= @user.firstname %>
</p>

<p>
  <b>Last Name:</b>
  <%= @user.lastname %>
</p>

<%= link_to 'Make New Character', new_character_path %> |
<%= link_to 'Characters', characters_path %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
