<%= form_for(@character) do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :creator %><br />
    <%= f.text_field :creator %>
  </div>
  <div class="actions">
		<%= button_to "Refresh", new_character_path, :method => :get %>
		<%= button_to "Add Attribute", new_attribute_path %>
		<%= button_to "Add Skill", new_skill_path %>
		<%= button_to "Add Equipment", new_equipment_path %>
    <%= f.submit %>
  </div>

<% end %>
